.card {
  height: 100%;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.item {
  padding: 12px 0 !important;
  border-bottom: 1px solid rgba(12, 34, 48, 0.1);
  align-items: flex-start !important;
}

.itemPrimary {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.itemSecondary {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}
