.content {
  padding: 24px !important;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.toggles {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 900px) {
  .content {
    padding: 32px !important;
  }
}
