.root {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.historyList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.itemStack {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.itemHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

@media (min-width: 600px) {
  .itemHeader {
    flex-direction: row;
  }
}
